.about-content{
    overflow: hidden;
}

.about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e7e7;
    padding: 50px 20px;
    
}

.about-item.mg{
   margin: 0 5%;
}

.about-item .icon{
    color: var(--mainColor);
   margin-bottom: 10px;
}

.about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}

.about-item-desc{
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-item-link{
    color:var(--mainColor);
    text-transform: capitalize;
}