.home{
    height: 100vh;
    background-image: url(/images/background/background1.jpg);
    background-size: cover; /*css3 to learn more about it later*/
    position: relative;
}


.home .title{
    color: var(--white-color);
    font-size: 3.5rem;
    text-transform: uppercase;
}

.home-content{ /*hero image prinzip to get the element in the middle of the page*/    
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .home-desc{
    margin-top: 20px 0;
    color: var(--white-color);
    letter-spacing: 2px;
    line-height: 1.5;
}


.home .btn{
    min-width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}

.home .btn-start{
    margin-top: 20px;
    margin-right: 10px;
    background-color:var(--white-color);
}

.home .btn-learn{
    margin-top: 20px;
    background-color:var(--mainColor);
    color: var(--white-color);
}

button{
    font-family: inherit;
}