.testimonial{
    position: relative;
    background-image: url(../images/background/background3.jpg);
    background-attachment: fixed;
    height: 400px;
}

.testimonial-content{
    overflow: hidden;
    padding: 120px 20px;
    width: 60%;
    margin: auto;
    opacity: 0;
    transition: opacity 3.5s;

}
.testimonial-content:hover{
    opacity: 1;
    
}
.testimonial-item{
    width: 50%;
    float: left;
    color: var(--white-color);
}

.testimonial-item .testimonial-toplayer{
    padding: 10px 2px 40px 100px;
    position: relative;
}

.testimonial-item .testimonial-toplayer img{
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
}

.testimonial-item .testimonial-toplayer h2{
    margin: 5px 0;

}

.testimonial-item .testimonial-toplayer span{
    color: var(--mainColor);
}

.testimonial-desc{
    line-height: 1.5;
    font-size: 17px;
}